@media screen and (max-width: 1024px) {
	.container {
		width: 100%;
	}
	.navbar {
		font-size: 14px;
	}
}
/////										/////
/////										/////
/////										/////
/////										/////
@keyframes {

}
@media screen and (max-width: 768px) {
	.container {
		width: 100%;
	}
	.logo a {
		font-size: .9em;
		//background: rgba(#2f8bbc, .7);
	}
	.navbar {
		box-sizing: border-box;
		top: 0;
		right: 0;
		height: 11rem;
		width: 13rem;
		min-width: 13rem;
		padding: 0;
		border: none;
		border-radius: 0;
		background: rgba(#1e1e1e, .2);
		&__elem {
			display: none;

		}
	}
	// burger-menu 
		.nav-toggle {
		  display: block;
		  position: relative;
		  padding: 2.6rem 1rem;
		  background: transparent;
		  border: 1px solid transparent;
		}
		.nav-toggle:focus {
		  outline-width: 0;
		}
		.nav-toggle [class*='bar-'] {
		  background: #fff;
		  display: block;
		  transform: rotate(0deg);
		  transition: .25s ease all;
		  border-radius: .8rem;
		  height: .8rem;
		  width: 10rem;
		  margin-bottom: 1.6rem;
		}
		.nav-toggle .bar-bot {
		  margin-bottom: 0;
		}
		.opened {
			padding-left: 3rem;
		}
		.opened .bar-top {
		  transform: rotate(45deg);
		  transform-origin: 15% 15%;
		}
		.opened .bar-mid {
		  opacity: 0;
		}
		.opened .bar-bot {
		  transform: rotate(-45deg);
		  transform-origin: 15% 95%;
		}
	.content {
		width: 100%;
	}
	.right-sidebar {
		//width: 0;
		z-index: 6;
		position: absolute;
		float: right;
		width: 0%;
		height: 0%;
		right: 0;
		overflow: hidden;
		transition: all .25s ease;
		&-navbar {
			display: block;
			margin-top: 1rem;
			&__elem {
				position: relative;
				box-sizing: border-box;
				display: inline-block;
				width: 50%;
				text-align: center;
				line-height: 7rem;
				font-size: 1.3em;
				border: 2px solid rgba(#000, .7);
				border-left: none;	
			}
			&__elem:last-child {
				border-right: none;
			}
			&__elem:first-child::before {
				content: "";
				display: block;
				width: 2.5rem;
				height: 2.5rem;
				//background: #000;
				border: 5px solid black;
				border-right: none;
				border-top: none;
				position: absolute;
				top: 2rem;
				left: 8%;
				transform: rotate(45deg);
			}
			&__elem:last-child::after {
				content: "";
				display: block;
				width: 2.5rem;
				height: 2.5rem;
				//background: #000;
				border: 5px solid black;
				border-left: none;
				border-bottom: none;
				position: absolute;
				top: 2rem;
				right: 8%;
				transform: rotate(45deg);
			}
		}
	}
	.openedBar {
		height: 110%;
		width: 100%;
	}
	.bot-sidebar {
		font-size: 15px;
	}
	.bot-subSidebar {
		width: 100%;
		border-radius: 10px;
	}
}
@media screen and (max-width: 480px) {
	.container {
		min-width: 320px;
	}
	.header {
		height: 8.25rem;
		padding: 0;
	}
	.navbar {
		height: 8.25rem;
		width: 9.75rem;
		min-width: 9.75rem;
		right: 0;
	}

	.nav-toggle {
		padding: 1.95rem 1rem;
	}
	.nav-toggle [class*='bar-'] {
		  border-radius: .6rem;
		  height: .6rem;
		  width: 7.5rem;
		  margin-bottom: 1.2rem;
	}
	.opened {
		padding-left: 2rem;
	}
	.right-sidebar-navbar {
		font-size: 12px;
	}
	.content {
		&-part {
			&-about {
				font-size: 13px;
			}
			&-head {
				font-size: 13px;
				&__title {
					padding: 1rem;
				}
			}
		}
		
	}
	.bot-sidebar {
		display: none;
	}
	.bot-subSidebar {
		margin-top: 1rem;
		position: relative;
		&::before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 2rem;
				display: block;
				width: 100%;
				border-bottom: 1.2px solid rgba(#000, .7);
				box-shadow: 0 .7px rgba(#fff, .3);
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 2rem;
			display: block;
			width: 100%;
			border-bottom: 1.2px solid rgba(#000, .7);
			box-shadow: 0 .7px rgba(#fff, .3);
		}
		&__elem {
			display: block;
			width: 100%;
			margin: 1rem 0 !important; 
			
		}
	}
}
/////										/////
/////										/////
/////										/////
/////										/////
/////										/////

@media screen and (max-width: 400px) {
	.content {
		&-tools {
			width: 100%;
			max-width: 100%;
			&-btn:first-child {
				margin-left: 3rem;
			}
			&-calendar {
				width: 35%;
				height: 35%;
				padding-top: 2rem;
			}
			&-info {
				margin: 8rem 3rem;
			}
		}
		&-info {
			margin-left: 1rem;
		}
	}
	.bot-sidebar {
		font-size: 12px;
	}
}